
@model LoginModel
<div class="row w-100" >
<h1 class="text-info ">Login Page</h1>

    <div class="card   sm-col-11 xl-col-8 " style="width: 40rem;">
<form method="post" asp-action="SignIn" asp-controller="User" class="m-5">
    <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group  my-2">
        <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control m-2" />
        <span asp-validation-for="UserName"></span>
    </div>
        <div class="form-group my-2">
        <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control m-2" />
        <span asp-validation-for="Password"></span>
    </div>
            <div class="form-group m-2">
                <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
       
        <span asp-validation-for="RememberMe"></span>
    </div>
            <input class="btn btn-primary  m-2" value="Sign In" type="submit" />
</form>
    </div>
</div>